### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path

### Read CSV in as Pandas DataFrame

In [2]:
# Read csv data
csv_path = Path("../../Resources/goog_google_finance.csv")
goog_df = pd.read_csv(
    csv_path, parse_dates=True, index_col="Date", infer_datetime_format=True
)
goog_df.head()

              Close
Date
2019-05-13  1132.03
2019-05-10  1164.27
2019-05-09  1162.38
2019-05-08  1166.27
2019-05-07  1174.10

### Assess & Clean Data

In [3]:
# Check for nulls
goog_df.isnull().mean() * 100

# Drop nulls
goog_df = goog_df.dropna()

# Drop duplicates
goog_df = goog_df.drop_duplicates()

# Validate no more missing values
goog_df.isnull().sum()

Close    0
dtype: int64

### Group by `year` and `month`

In [17]:
goog_df_grp1 = goog_df.groupby([goog_df.index.year,goog_df.index.month]).sum()
goog_df_grp1

              Close
Date Date
2019 2     14472.06
     3     24763.15
     4     25750.75
     5     10504.53

### Access `Close` for May 2019 Using Multi-Indexing Lookup

In [19]:
close_may_2019 = goog_df_grp1.loc[2019,5]
close_may_2019

Close    10504.53
Name: (2019, 5), dtype: float64

### Calculate `mean` close price of GOOG for 2019

In [20]:
goog_df_mean_2019 = goog_df.groupby([goog_df.index.year]).mean()
goog_df_mean_2019

            Close
Date
2019  1179.538906