# Combination Sampling

Implement the SMOTEENN technique with the credit card default data. Then estimate a logistic regression model and report the classification evaluation metrics.

ln_balance_limit is the log of the maximum balance they can have on the card; 1 is female, 0 male for sex; the education is denoted: 1 = graduate school; 2 = university; 3 = high school; 4 = others; 1 is married and 0 single for marriage; default_next_month is whether the person defaults in the following month (1 yes, 0 no).

In [30]:
import pandas as pd
from pathlib import Path
from collections import Counter

In [31]:
data = Path('../Resources/cc_default.csv')
df = pd.read_csv(data)

In [32]:
df.head()

   ID  ln_balance_limit  sex  education  marriage  age  default_next_month
0   1          9.903488    1          2         0   24                   1
1   2         11.695247    1          2         1   26                   1
2   3         11.407565    1          2         1   34                   0
3   4         10.819778    1          2         0   37                   0
4   5         10.819778    0          2         0   57                   0

In [33]:
X = df.copy().drop(columns=['default_next_month','ID'])
y = df['default_next_month']
Counter(y)

Counter({1: 6636, 0: 23364})

In [34]:
# Normal train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [35]:
from imblearn.combine import SMOTEENN

sm = SMOTEENN(random_state=0)
X_resampled, y_resampled = sm.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 8135, 1: 4724})

In [36]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [37]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[4721, 1111],
       [1121,  547]])

In [40]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5687184820045198

In [38]:
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.81      0.81      0.33      0.81      0.52      0.28      5832
          1       0.33      0.33      0.81      0.33      0.52      0.25      1668

avg / total       0.70      0.70      0.44      0.70      0.52      0.27      7500