# Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces. Help the treasurer out by consolidating the dues and member data.

In [135]:
import pandas as pd
from pathlib import Path

### Read in data

In [140]:
fin_leaders_america_path = Path('../Resources/fin_leaders_america.csv')
investors_leadership_path = Path('../Resources/invstrs_leadership.csv')
fin_leaders_mem_path = Path('../Resources/fin_leaders_members.csv')
investors_leadership_mem_path = Path('../Resources/invstrs_leadership_members.csv')


fin_leaders_dues = pd.read_csv(fin_leaders_america_path, index_col='MemberName')
investors_leadership_dues = pd.read_csv(investors_leadership_path, index_col='MemberName')
fin_leaders_mem = pd.read_csv(fin_leaders_mem_path, index_col='MemberName')
investors_leadership_mbr_status = pd.read_csv(investors_leadership_mem_path, index_col='MemberName')

In [141]:
fin_leaders_dues.head()

                 DuesOwed  DuesPaid
MemberName
Warren Buffet           0      2500
Janet Yellen          100      2400
Abigail Johnson         0      2500
Larry Fink           2500         0

### Concat dues data using `rows` axis and `inner` join

In [143]:
concat_dues = pd.concat([fin_leaders_dues, investors_leadership_dues],axis="rows",join='inner',copy = False)
concat_dues = concat_dues.reset_index()
concat_dues

           MemberName  DuesOwed  DuesPaid
0       Warren Buffet         0      2500
1        Janet Yellen       100      2400
2     Abigail Johnson         0      2500
3          Larry Fink      2500         0
4       Warren Buffet         0      2500
5        Janet Yellen       100      2400
6     Abigail Johnson         0      2500
7          Larry Fink      2500         0
8        Mario Draghi      2500         0
9   Michael Bloomberg      2500         0
10          Ray Dalio         0      2500

In [144]:
concat_dues.drop_duplicates()

           MemberName  DuesOwed  DuesPaid
0       Warren Buffet         0      2500
1        Janet Yellen       100      2400
2     Abigail Johnson         0      2500
3          Larry Fink      2500         0
8        Mario Draghi      2500         0
9   Michael Bloomberg      2500         0
10          Ray Dalio         0      2500

In [145]:
concat_dues.index = concat_dues['MemberName']
concat_dues

                          MemberName  DuesOwed  DuesPaid
MemberName
Warren Buffet          Warren Buffet         0      2500
Janet Yellen            Janet Yellen       100      2400
Abigail Johnson      Abigail Johnson         0      2500
Larry Fink                Larry Fink      2500         0
Warren Buffet          Warren Buffet         0      2500
Janet Yellen            Janet Yellen       100      2400
Abigail Johnson      Abigail Johnson         0      2500
Larry Fink                Larry Fink      2500         0
Mario Draghi            Mario Draghi      2500         0
Michael Bloomberg  Michael Bloomberg      2500         0
Ray Dalio                  Ray Dalio         0      2500

### Concat member data using `rows` axis and `inner` join

In [132]:
concat_mem_data = pd.concat([fin_leaders_mem, investors_leadership_mbr_status],axis="rows", join="inner")
concat_mem_data = concat_mem_data.reset_index()
concat_mem_data

           MemberName MembershipStatus
0       Warren Buffet    Good Standing
1        Janet Yellen    Good Standing
2     Abigail Johnson    Good Standing
3          Larry Fink       Delinquent
4       Warren Buffet    Good Standing
5        Janet Yellen    Good Standing
6     Abigail Johnson    Good Standing
7          Larry Fink       Delinquent
8        Mario Draghi       Delinquent
9   Michael Bloomberg       Delinquent
10          Ray Dalio    Good Standing

In [133]:
concat_mem_data = concat_mem_data.drop_duplicates()
concat_mem_data

           MemberName MembershipStatus
0       Warren Buffet    Good Standing
1        Janet Yellen    Good Standing
2     Abigail Johnson    Good Standing
3          Larry Fink       Delinquent
8        Mario Draghi       Delinquent
9   Michael Bloomberg       Delinquent
10          Ray Dalio    Good Standing

### Concat dues and member data using `columns` axis and `inner` join

In [134]:
dues_mbrs_status = pd.concat([concat_dues, concat_mem_data], axis ='columns', join= 'inner')
dues_mbrs_status

           MemberName  DuesOwed  DuesPaid         MemberName MembershipStatus
0       Warren Buffet         0      2500      Warren Buffet    Good Standing
1        Janet Yellen       100      2400       Janet Yellen    Good Standing
2     Abigail Johnson         0      2500    Abigail Johnson    Good Standing
3          Larry Fink      2500         0         Larry Fink       Delinquent
8        Mario Draghi      2500         0       Mario Draghi       Delinquent
9   Michael Bloomberg      2500         0  Michael Bloomberg       Delinquent
10          Ray Dalio         0      2500          Ray Dalio    Good Standing