# Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces. Help the treasurer out by consolidating the dues and member data.

In [60]:
import pandas as pd
from pathlib import Path

### Read in data

In [61]:
fin_leaders_america_path = Path('../Resources/fin_leaders_america.csv')
investors_leadership_path = Path('../Resources/invstrs_leadership.csv')
fin_leaders_mem_path = Path('../Resources/fin_leaders_members.csv')
investors_leadership_mem_path = Path('../Resources/invstrs_leadership_members.csv')


fin_leaders_dues = pd.read_csv(fin_leaders_america_path, index_col='MemberName')
investors_leadership_dues = pd.read_csv(investors_leadership_path, index_col='MemberName')
fin_leaders_mem = pd.read_csv(fin_leaders_mem_path, index_col='MemberName')
investors_leadership_mbr_status = pd.read_csv(investors_leadership_mem_path, index_col='MemberName')

### Concat dues data using `rows` axis and `inner` join

In [62]:
concat_dues = pd.concat([fin_leaders_dues, investors_leadership_dues],axis="rows",join='inner',copy = False)
concat_dues

                   DuesOwed  DuesPaid
MemberName
Warren Buffet             0      2500
Janet Yellen            100      2400
Abigail Johnson           0      2500
Larry Fink             2500         0
Warren Buffet             0      2500
Janet Yellen            100      2400
Abigail Johnson           0      2500
Larry Fink             2500         0
Mario Draghi           2500         0
Michael Bloomberg      2500         0
Ray Dalio                 0      2500

### Concat member data using `rows` axis and `inner` join

In [63]:
concat_mem_data = pd.concat([fin_leaders_mem, investors_leadership_mbr_status],axis="rows", join="inner")

                  MembershipStatus
MemberName
Warren Buffet        Good Standing
Janet Yellen         Good Standing
Abigail Johnson      Good Standing
Larry Fink              Delinquent
Warren Buffet        Good Standing
Janet Yellen         Good Standing
Abigail Johnson      Good Standing
Larry Fink              Delinquent
Mario Draghi            Delinquent
Michael Bloomberg       Delinquent
Ray Dalio            Good Standing

### Concat dues and member data using `columns` axis and `inner` join

In [64]:
concat_dues = concat_dues.drop_duplicates()
concat_mem_data =concat_mem_data.drop_duplicates()
dues_mbrs_status = pd.concat([concat_dues, concat_mem_data], axis ='columns', join= 'inner')
dues_mbrs_status

              MembershipStatus
MemberName
Warren Buffet    Good Standing
Larry Fink          Delinquent