In [106]:
import requests
import pandas as pd 
import json
import prettytable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['LAUCN281070000000003','LAUST010000000000003'],"startyear":"2019", "endyear":"2021"})
p = requests.post('https://api.bls.gov/publicAPI/v1/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
output = open('Out.txt','w')
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
    
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output.write (x.get_string())
output.close()

In [107]:
data = json_data['Results']['series']

In [108]:
series_id_dict = {'LAUST010000000000003':'Alabama', 'LAUCN281070000000003':'Other'}

In [109]:
for d in data:
    d['seriesID'] = series_id_dict[d['seriesID']]

In [110]:
data[1]

{'seriesID': 'Alabama',
 'data': [{'year': '2021',
   'period': 'M12',
   'periodName': 'December',
   'value': '2.6',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M11',
   'periodName': 'November',
   'value': '2.6',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M10',
   'periodName': 'October',
   'value': '2.9',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M09',
   'periodName': 'September',
   'value': '3.0',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M08',
   'periodName': 'August',
   'value': '3.7',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M07',
   'periodName': 'July',
   'value': '3.8',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M06',
   'periodName': 'June',
   'value': '4.3',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M05',
   'periodName': 'May',
   'value': '3.3',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M04',
   'periodName': 'April',
   'value': '3.3',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M03',
   'periodName': 'March',
   'value': '3.6',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M02',
   'periodName': 'February',
   'value': '4.0',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2021',
   'period': 'M01',
   'periodName': 'January',
   'value': '4.1',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M12',
   'periodName': 'December',
   'value': '4.1',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M11',
   'periodName': 'November',
   'value': '4.4',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M10',
   'periodName': 'October',
   'value': '4.9',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M09',
   'periodName': 'September',
   'value': '6.0',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M08',
   'periodName': 'August',
   'value': '6.7',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M07',
   'periodName': 'July',
   'value': '8.4',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M06',
   'periodName': 'June',
   'value': '9.2',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M05',
   'periodName': 'May',
   'value': '10.2',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M04',
   'periodName': 'April',
   'value': '13.0',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M03',
   'periodName': 'March',
   'value': '4.0',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M02',
   'periodName': 'February',
   'value': '3.4',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2020',
   'period': 'M01',
   'periodName': 'January',
   'value': '3.7',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M12',
   'periodName': 'December',
   'value': '2.8',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M11',
   'periodName': 'November',
   'value': '2.7',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M10',
   'periodName': 'October',
   'value': '2.7',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M09',
   'periodName': 'September',
   'value': '2.8',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M08',
   'periodName': 'August',
   'value': '3.2',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M07',
   'periodName': 'July',
   'value': '3.3',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M06',
   'periodName': 'June',
   'value': '3.4',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M05',
   'periodName': 'May',
   'value': '2.6',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M04',
   'periodName': 'April',
   'value': '2.8',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M03',
   'periodName': 'March',
   'value': '3.6',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M02',
   'periodName': 'February',
   'value': '3.8',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]},
  {'year': '2019',
   'period': 'M01',
   'periodName': 'January',
   'value': '4.4',
   'footnotes': [{'code': 'R',
     'text': 'Data were subject to revision on March 2, 2022.'}]}]}

In [116]:
p = pd.DataFrame(data[0])
p

   seriesID                                               data
0     Other  {'year': '2021', 'period': 'M12', 'periodName'...
1     Other  {'year': '2021', 'period': 'M11', 'periodName'...
2     Other  {'year': '2021', 'period': 'M10', 'periodName'...
3     Other  {'year': '2021', 'period': 'M09', 'periodName'...
4     Other  {'year': '2021', 'period': 'M08', 'periodName'...
5     Other  {'year': '2021', 'period': 'M07', 'periodName'...
6     Other  {'year': '2021', 'period': 'M06', 'periodName'...
7     Other  {'year': '2021', 'period': 'M05', 'periodName'...
8     Other  {'year': '2021', 'period': 'M04', 'periodName'...
9     Other  {'year': '2021', 'period': 'M03', 'periodName'...
10    Other  {'year': '2021', 'period': 'M02', 'periodName'...
11    Other  {'year': '2021', 'period': 'M01', 'periodName'...
12    Other  {'year': '2020', 'period': 'M12', 'periodName'...
13    Other  {'year': '2020', 'period': 'M11', 'periodName'...
14    Other  {'year': '2020', 'period': 'M10', 'periodName'...
15    Other  {'year': '2020', 'period': 'M09', 'periodName'...
16    Other  {'year': '2020', 'period': 'M08', 'periodName'...
17    Other  {'year': '2020', 'period': 'M07', 'periodName'...
18    Other  {'year': '2020', 'period': 'M06', 'periodName'...
19    Other  {'year': '2020', 'period': 'M05', 'periodName'...
20    Other  {'year': '2020', 'period': 'M04', 'periodName'...
21    Other  {'year': '2020', 'period': 'M03', 'periodName'...
22    Other  {'year': '2020', 'period': 'M02', 'periodName'...
23    Other  {'year': '2020', 'period': 'M01', 'periodName'...
24    Other  {'year': '2019', 'period': 'M12', 'periodName'...
25    Other  {'year': '2019', 'period': 'M11', 'periodName'...
26    Other  {'year': '2019', 'period': 'M10', 'periodName'...
27    Other  {'year': '2019', 'period': 'M09', 'periodName'...
28    Other  {'year': '2019', 'period': 'M08', 'periodName'...
29    Other  {'year': '2019', 'period': 'M07', 'periodName'...
30    Other  {'year': '2019', 'period': 'M06', 'periodName'...
31    Other  {'year': '2019', 'period': 'M05', 'periodName'...
32    Other  {'year': '2019', 'period': 'M04', 'periodName'...
33    Other  {'year': '2019', 'period': 'M03', 'periodName'...
34    Other  {'year': '2019', 'period': 'M02', 'periodName'...
35    Other  {'year': '2019', 'period': 'M01', 'periodName'...

In [112]:
p['data']

0     {'year': '2021', 'period': 'M12', 'periodName'...
1     {'year': '2021', 'period': 'M11', 'periodName'...
2     {'year': '2021', 'period': 'M10', 'periodName'...
3     {'year': '2021', 'period': 'M09', 'periodName'...
4     {'year': '2021', 'period': 'M08', 'periodName'...
5     {'year': '2021', 'period': 'M07', 'periodName'...
6     {'year': '2021', 'period': 'M06', 'periodName'...
7     {'year': '2021', 'period': 'M05', 'periodName'...
8     {'year': '2021', 'period': 'M04', 'periodName'...
9     {'year': '2021', 'period': 'M03', 'periodName'...
10    {'year': '2021', 'period': 'M02', 'periodName'...
11    {'year': '2021', 'period': 'M01', 'periodName'...
12    {'year': '2020', 'period': 'M12', 'periodName'...
13    {'year': '2020', 'period': 'M11', 'periodName'...
14    {'year': '2020', 'period': 'M10', 'periodName'...
15    {'year': '2020', 'period': 'M09', 'periodName'...
16    {'year': '2020', 'period': 'M08', 'periodName'...
17    {'year': '2020', 'period': 'M07', 'periodName'...
18    {'year': '2020', 'period': 'M06', 'periodName'...
19    {'year': '2020', 'period': 'M05', 'periodName'...
20    {'year': '2020', 'period': 'M04', 'periodName'...
21    {'year': '2020', 'period': 'M03', 'periodName'...
22    {'year': '2020', 'period': 'M02', 'periodName'...
23    {'year': '2020', 'period': 'M01', 'periodName'...
24    {'year': '2019', 'period': 'M12', 'periodName'...
25    {'year': '2019', 'period': 'M11', 'periodName'...
26    {'year': '2019', 'period': 'M10', 'periodName'...
27    {'year': '2019', 'period': 'M09', 'periodName'...
28    {'year': '2019', 'period': 'M08', 'periodName'...
29    {'year': '2019', 'period': 'M07', 'periodName'...
30    {'year': '2019', 'period': 'M06', 'periodName'...
31    {'year': '2019', 'period': 'M05', 'periodName'...
32    {'year': '2019', 'period': 'M04', 'periodName'...
33    {'year': '2019', 'period': 'M03', 'periodName'...
34    {'year': '2019', 'period': 'M02', 'periodName'...
35    {'year': '2019', 'period': 'M01', 'periodName'...
Name: data, dtype: object

In [126]:
j = p['data'][0]
l = j.keys
l